body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

.header {
    background-color: #222222;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.dropdown {
    width: 200px;
}

.card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ced7d9;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Add your own styles here */
