<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Photography & Videography {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- Add any CSS or JS files you need -->
</head>
<body>
    
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css'%}">
    <header class="navbar-header">
        <h1><strong class="logo-text">  ★ BuMonk Studio</strong></h1>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'Video Collection' %}">Video Collection</a></li>
                <li><a href="{% url 'Photograhy Collection' %}">Photograhy Collection</a></li>
                <li><a href="{% url 'book_appointment' %}">Book an Appointment</a></li>
                <li><a href="{% url 'view_appointments' %}">View Appointment</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content area -->
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <!-- Left section: Copyright -->
        <div class="left-section">
            <p ><strong style="font-size: 18px;">★ BuMonk Studio</strong><br>&copy; 2024.All rights reserved.</p>
        </div>

        <!-- Right section: Navigation and Social Media -->
        <div class="right-section">
            <ul>
                <li><a href="#"><strong>Contact Us</strong></a></li>
                <li><a href="#"><strong>Social Media</strong></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>
